
.skill-counter{
height: auto;
width: 99vw;
border: 1px solid red;
display: flex;
flex-direction: column;
flex-wrap: nowrap;
align-items: center;
justify-content: center;
/* background-color: white; */
background-color: #14192f;
padding: 5rem 0rem;
/* background-color: transparent; */
}

.skill-heading{
  color: #fdfdff;
  font-size: 2.2rem;
  font-weight: 600;
  padding: 0.5rem 0rem;
  text-align: center;
  text-transform: capitalize;
  /* border: 1px solid rgb(167, 155, 155); */

}
.skill-inner-box{
  /* margin-bottom: 1rem; */
  z-index: 1;
  height: auto;
width: 63vw;
/* border: 1px solid #151f35; */
display: flex;
flex-direction: row;
flex-wrap: wrap-reverse;
align-items: center;
justify-content: center;
/* background-color: #2c4e91; */
/* background-color: #88A8FF; */
background-color: transparent;
padding: 1rem 0rem;
-webkit-backdrop-filter: blur(12px); 
 backdrop-filter: blur(12px);
box-shadow: rgb(72, 72, 73) 0px 1px 2px 0px, rgb(44, 45, 63) 0px 2px 6px 2px;
}
.skill-display{
  height: 36rem;
width: 40vw;
  display: flex;
flex-direction: column;
flex-wrap: wrap;
align-items: center;
justify-content: space-evenly;
    /* border: 1px solid rgb(11, 206, 125); */
}


.hash-img-outer{
/* border: 1px solid rgb(243, 13, 13); */
/* margin: 0.1rem; */
}
.hash-img-inner{
/* border: 1px solid red; */

}

.hashImage{
  height: 27rem;
}