.about-outer {
  height: 99vh;
  width: 99vw;
  /* border: 1px solid red; */
  /* background-color: white; */
  background-color: #14192f;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.about-inner {
  height: 50vh;
  width: 63vw;
  border: 1px solid #3B4053;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}

.about-image-box {
  /* border: 1px solid white; */
}

.about-figuer{
    position: relative;
  height: 18rem;
  width: 20rem;
  border: 8px solid #2557df;
  background-color: #2557df;
}
.about-image {
    position: absolute;
  height: 18rem;
  width: 20rem;
  margin-left: 0.1rem;
  /* display: none; */
}

/* ----- */
.about-intro {
    height: 18rem;
    width: 40rem;
  /* border: 1px solid white; */
  color: white;
  padding: 0.1rem 0.5rem;
  z-index: 1;
}
.about-title {
    color: #615add;
    font-size: 2.2rem;
    font-weight: 600;
    padding: 0.5rem;
    text-align: center;
    text-transform: capitalize;
}

.about-text {
   
    color: #88A8FF;
}

.resume-btn{
  /* border: 2px solid  transparent; */
  border: 2px solid  #6158e2;
  outline: none;
  border-radius: 15px;
  /* background-color:  #3f389c; */
  background-color:  transparent;

  /* color: white; */
  color:  #6158e2;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  font-weight:600;
  transition: .8s;
  /* box-shadow: rgba(83, 83, 83, ) 0px 4px 12px; */
  margin:  2rem 0rem;
}

.resume-btn:hover{
  /* background-color:  transparent; */
  background-color:  #6158e2;
  border: 2px solid   #6158e2;
  color: white;
  font-weight:400;
}