
.project-counter{
 height: auto;
 width: 99vw;
 display: flex;
 flex-direction: column;
 flex-wrap: nowrap;
 align-items: center;
 background-color: #14192f;
 border: 1px solid red;
 padding: 2rem 0rem;
}


.heading{
    font-size: 2rem;
    color: white;
    font-weight: 500;
    padding-bottom: 1.5rem ;
}

.project-display{
    height: auto;
    width: 40vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    /* background-color: #14192f; */
    border: 1px solid red;
}