
.project-counter{
 height: auto;
 width: 99vw;
 display: flex;
 flex-direction: column;
 flex-wrap: nowrap;
 align-items: center;
 background-color: #14192f;
 border: 1px solid red;
 padding: 2rem 0rem;
}

.project-inner-box{
    border: 1px solid #3B4053;
    height: auto;
    width: 63vw;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    z-index: 1;
    background-color: transparent;
    -webkit-backdrop-filter: blur(12px);
backdrop-filter: blur(12px);
}
.pro-heading{
    font-size: 2.2rem;
    color: rgb(255, 255, 255);
    font-weight: 500;
    padding: 1rem 0rem;
    background-color: transparent;
}

.project-display{
    height: auto;
    width: 63vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    /* background-color: #14192f; */
    border: 1px solid red;
    background-color: transparent;
}